body {
    width: 100vw;
    height: 100vh;

}

#root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    background: #D7DBDD;
    
    width: 100vw;
    height: 100vh;
  
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100vw;
    height: 100vh;
}